[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/stevendesu/prezto.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "vim-monokai"]
	path = vim-monokai
	url = https://github.com/sickill/vim-monokai
